body {
  font-family: Arial, Helvetica, sans-serif;
}

  /* The navigation bar */
  .navbar {
    margin-left: -8px;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


/* Style the header */
.header {
  margin-left: -8px;
  margin-right: -8px;
  background-color: #abdf8d;
  padding: 30px 40px;
  font-family: Helvetica, Arial, sans-serif;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}


.centeredListText{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  font-family: Helvetica, Geneva, Arial, sans-serif;
}


/* A simple Class to hide an Element */
.hidden{
  display:none;
}

.centeredListText2{
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.bigHeaderText{
  text-align: left;
  font-size: 35px;
  color: black;

}

#contrasttable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#contrasttable td, #contrasttableitem th {
  border: 1px solid #ddd;
  padding: 8px;
}

#contrasttable tr:nth-child(even){background-color: #f2f2f2;}

#contrasttable tr:hover {background-color: #ddd;}

#contrasttable th {
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

.viewportCENTER{
  max-width: 800px;

}

.main{
  max-width: 800px;

}

